<header class="site-header">
  <div class="header-inner">
    <span class="brand-name">{{ site.title }}</span>

    <nav class="site-nav">
      <a href="{{ '/home' | relative_url }}">Accueuil</a>
      <a href="{{ '/humeur' | relative_url }}">Effusions</a>
      <a href="{{ '/solitudes' | relative_url }}">Solitudes</a>
      <a href="{{ '/ruptures' | relative_url }}">Ruptures</a>
      <a href="{{ '/nonation' | relative_url }}">NoNation</a>
      <a href="{{ '/contact' | relative_url }}">Contact</a>
    </nav>

  </div>
</header>