<div class="index-body">
    <section class="latest-post">
    <h2>Dernière publication</h2>

    {% assign latest = site.posts.first %}
    <article class="post-preview">
        <h3><a href="{{ latest.url }}">{{ latest.title }}</a></h3>
        <p>{{ latest.excerpt }}</p>
        <a class="read-more" href="{{ latest.url }}">Lire la suite →</a>
    </article>
    </section>

    <div class="separator"></div>

    <section class="category-block reverse">
    <div class="category-image">
        <img src="/assets/img/index/home_effusions.webp" alt="Effusion">
    </div>
    <div class="category-text">
        <h2>Effusions</h2>
        <p>Société du spectacle oblige, je réagirai à travers de billets d'humeur, mais je préfère être très franc: cela aura plus l'air de brûlots que de textes réellement réfléchis.</p>
        <p>S'agissant de réflexions plus abouties, j'essayera de structurer ça sous la forme de séries.En espérant que ces textes puissent contribuer à une réflexion plus profonde sur l'anarchisme et ses pratiques.</p>
        <a href="/categories/effusion">Explorer →</a>
    </div>
    </section>

    <div class="separator"></div>

    <section class="category-block">
    <div class="category-image">
        <img src="/assets/img/index/home_solitudes.webp" alt="Solitudes">
    </div>
    <div class="category-text">
        <h2>Solitudes</h2>
        <p>Rétrospective de l'histoire de l'anarchisme comme modèle d'organisation de la société, à travers des portraits de figures anti-autoritaires et de descriptions d'organisations libertaires.</p>
        <p>Le tout avec des frises chronologiques, afin de rendre ça plus accessible et visuel, et beaucoup de références, afin de permettre une exploration plus approfondie.</p>
        <a href="/categories/solitudes">Explorer →</a>
    </div>
    </section>

    <div class="separator"></div>

    <section class="category-block reverse">
    <div class="category-image">
        <img src="/assets/img/index/home_anarchives.webp" alt="Anarchives">
    </div>
    <div class="category-text">
        <h2>Anarchives</h2>
        <p>Archives diverses.</p>
        <a href="/categories/anarchives">Explorer →</a>
    </div>
    </section>
</div>