@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;600&display=swap');

/* --- Général --- */
body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

.wrapper {
  display: flex;
  min-height: 100vh; /* toujours full height */
}

.main {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

/* --- Toggle du volet --- */
.side-panel-toggle {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: grid;
  place-items: center;

  color: #ffffff;
  background: #111111;
  border: none;
  border-radius: 0 5px 5px 0;
  outline: none;
  cursor: pointer;
}

.side-panel-toggle:hover {
  background: #252525;
}

.sp-icon-close {
  display: none !important;
}

/* --- Volet latéral --- */
.side-panel {
  flex-shrink: 0;
  padding: 10px;
  width: 50vh;
  background: linear-gradient(to right, #0f0f12, #181818, #2e2e2e);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  color: white;
  overflow: hidden;
  position: relative;

  /* Transition pour ouverture/retractation */
  transition: width 0.3s ease, padding 0.3s ease;
}

/* Ouvert */
.side-panel-open .side-panel {
  width: 50vh;
  padding: 10px;
}

.side-panel-open .sp-icon-open {
  display: none !important;
}

.side-panel-open .sp-icon-close {
  display: initial !important;
}

/* Collapsé */
.side-panel.collapsed {
  width: 0;
  padding: 0;
}

/* --- Details/summary --- */
.side-panel details {
  background: rgba(255, 255, 255, 0.05);
  margin: 0.25rem 0;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.side-panel details summary span {
  font-size: 2rem;
}

.side-panel summary {
  list-style: none;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.side-panel summary::-webkit-details-marker {
  display: none; /* supprime la flèche par défaut */
}

/* Contenu rétractable */
.side-panel details[open] > *:not(summary) {
  padding: 0.5rem 0.75rem;
}

/* Icon toggle */
.summary-icon {
  transition: transform 0.3s ease;
}

details[open] .summary-icon {
  transform: rotate(90deg);
}

.profile-box {
  overflow: hidden;
}

.profile-img {
  float: left;
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #9b9b9b;
  margin: 0 1rem 1rem 0;
  shape-outside: margin-box;
}

.text-frame {
  background: #3d3d3d75;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 0.4rem 0.4rem;
  margin-bottom: 15px;
  overflow: hidden; /* pour flotter correctement à côté de l'image */
}

.profile-box h3, h4 {
  margin: 0 0 1rem 0;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.profile-box p, li {
  margin: 0 0 8px 0;
  white-space: pre-line;
  font-size: small;  
  font-family: 'Source Serif 4', serif;
  text-align: justify;
}