.timeline-page{

  height:100vh;

  display:grid;
  grid-template-columns:

    1fr      /* contenu */
    2px      /* ligne */
    20%;   /* timeline */

  background-size:cover;
  background-position:center;

  color:white;
}

.bg-container {
    position: absolute;   /* pour remplir le conteneur parent */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.4);
    z-index: 0;

    transition: opacity 0.8s ease, transform 6s linear;

    position: absolute;
    inset: 0;
    overflow: hidden;   /* empêche l'image de dépasser */
}

.bg-container::active {
  transform: scale(1.05);
}

.bg-container::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to right,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.85)
    );

    pointer-events: none;
}

.bg{
    position:absolute;
    inset:0;

    background-size:cover;
    background-position:center;
    
    opacity:0;
    transition: opacity 3s ease, transform 6s linear;
}

.bg.visible{
    opacity: 1;
    transform: scale(1.1) translateY(-2%);
}

.timeline-page {
    position: relative; /* nécessaire pour que bg-container soit positionné correctement */
    z-index: 1;
}

.timeline-line{
  background:rgba(255,255,255,0.35);
  z-index: 1;
}

.content-box{
  z-index: 2;

  display:flex;
  flex-direction:column;
  justify-content:center;

  padding-left:10%;
  max-width:700px;

  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.content-box.active {
    opacity: 1;
    transform: translateY(0);
}

.big-date{
  color:#e3a625;
  font-style:italic;

  font-size:28px;
  margin-bottom:12px;
}

#event-title{
  font-size:60px;
  font-weight:800;
  line-height:1.1;

  margin-bottom:20px;
}

.timeline{
  display:flex;
  flex-direction:column;

  justify-content:center;
  gap:26px;

  padding-left:20px;

  color:#c49227;
}

.timeline-date{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
  
  cursor:pointer;
  display:flex;
  position:relative;

  opacity:0.75;
  transition:0.2s;

  font-size: 1.5rem;
  font-weight:700;
}

.timeline-date.active {
  color: #ffbc2b;
  opacity:1;
}

.timeline-date:hover{
  opacity:1;
}

.timeline-date.active::before{
  content:"";

  position:absolute;

  left:-24px;
  top:50%;

  transform:translateY(-50%);

  width:6px;
  height:6px;

  border-radius:50%;

  background:#ffbc2b;
}

.timeline-date-text {
  display: block;
}

.timeline-date-period {
  position: relative;
  left: 20%;
  font-size: 1rem;
  opacity: 0.6;
}

.arrow{
  display:flex;
  position:relative;

  background:none;
  border:none;
  padding:0;
  cursor:pointer;

  left: -7px;
}

.arrow img{
  width: 4rem;
  opacity:0.8;
  transition:0.2s;
}

.arrow:hover img{
  opacity:1;
  transform:scale(1.1);
}