html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* au moins la hauteur de la fenêtre */
  background: #0f0f12;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #e5e5e5;
}

main.content {
  flex: 1; /* pousse le footer vers le bas */
}